<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @civilization.name %>
</p>

<%= link_to 'Edit', edit_civilization_path(@civilization) %> |
<%= link_to 'Back', civilizations_path %>
